
@media screen and (max-width: 600px){
    /* Nav section responsive here */
    .nav-container{
        width: 90%;
    }
    .nav-container .nav-logo{
        align-items: center;
        width: 70%;
    }
    .nav-logo .logo-name{
        font-size: 1.2rem;
        width: 70%;
    }
    .nav-anchor{
        display: none;
    }
    .nav-container .alternative-anchor{
        display: block;
        margin-right: 10px;
    }
    
    

    /* banner section responsive start */
     main .banner-container{
        width: 90%;
        height: 485px;
        padding-top: 32px;
        /* border: 2px solid red; */
    }
    .banner-text .banner-text-1{
         font-size: 22px;
    }
    .banner-text .banner-text-2{
        font-size: 14px;
        margin: 10px auto 32px;

    }
    .banner-form{
        flex-direction: column;
        align-items: center;
        gap: 1rem;   
    }
    .banner-container .text-input{
        width: 254px;
        padding: 16px 166px 16px 15px;
    }
    .banner-form{
        margin: 0 auto;
        width: 85%;
        padding: 16px;
        
    }

    /* Banner 2 responsive start */
    .banner-2{
        width: 90%;
        flex-direction: column;
        gap: 1.5rem;
    }
    .banner-2 .banner-2-text{
        width: 100%;
    }
    .banner-2 .banner-2-img{
        width: 100%;
    }

    /* Gallery Section Responsive start */

    .gallery-container{
        width: 90%;
    
    }

    .gallery-container .gallery-txt{
        width: 100%;
    }

    .gallery-container .gallery-img-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        /* grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        border: 2px solid red;*/
    } 
    .gallery-container .gallery-img-container img{
        height: 220px;
    }
    /* benefit container responsive */
    .benefit-container{
        width: 90%;
        margin: 0 auto;
    }
    .benefit-container .benefit-text-container{
        width: 70%;
        margin: 0 auto;
    }
    /* Newsletter section responsive */
    .newsletter-container{
        width: 90%;
        flex-direction: column;
    }
    main .newsletter-container .newsletter-form-container{
        width: 100%;   
    }
    main .newsletter-container .newsletter-img{
        width: 100%;
    }
    .newsletter-container .newsletter-img .discount{
        width: 50%;
        font-size: 15px;
        margin-left: 120px;
        margin-top: -125px;
    }
    /* footer section responsive start */
    footer .footer-container{
        width: 100%;
        margin: 0 auto;
        padding-top: 50px; 
        padding: 20px;      
    }
    footer .footer-container .footer-social-container{
        gap: 25px;
    
    }
    footer .footer-container hr{
        width: 100%;
    }
    

}