
@media screen and (max-width: 600px){
    /* Nav section responsive here */
    .nav-container{
        width: 85%;
    }
    .nav-logo{
        align-items: center;
    }
    .nav-logo .logo-name{
        font-size: 1.5rem;
    }
    .nav-anchor{
        display: none;
    }

    /* banner section responsive start */
     main .banner-container{
        width: 85%;
        height: 485px;
        padding-top: 32px;
        /* border: 2px solid red; */
    }
    .banner-text .banner-text-1{
         font-size: 22px;
    }
    .banner-text .banner-text-2{
        font-size: 14px;
        margin: 10px auto 32px;

    }
    .banner-form{
        flex-direction: column;
        align-items: center;
        gap: 1rem;   
    }
    .banner-container .text-input{
        width: 254px;
        padding: 16px 166px 16px 15px;
    }
    .banner-form{
        margin: 0 auto;
        padding: 16px;
        width: 65%;
    }

    /* Banner 2 responsive start */
    .banner-2{
        width: 85%;
        flex-direction: column;
        gap: 1.5rem;
    }
    .banner-2 .banner-2-text{
        width: 100%;
    }
    .banner-2 .banner-2-img{
        width: 100%;
    }

    /* Gallery Section Responsive start */

    .gallery-container{
        width: 85%;
    
    }

    .gallery-container .gallery-txt{
        width: 100%;
    }

    .gallery-container .gallery-img-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        /* grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        border: 2px solid red;*/
    } 
    .gallery-container .gallery-img-container img{
        height: 220px;
    }

}