@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.p-color{
    color: #FF5400;
}
.s-color{
    color: #424247;
}




/* Styles started here */

.nav-container{
    max-width: 1170px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 10px;
}
.logo-name{
    font-size: 2rem;
    font-weight: 800;
}
.nav-anchor a{
    text-decoration: none;
    margin-left: 3rem;
}


