@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.p-color{
    color: #FF5400;
}
.s-color{
    color: #424247;
}

/* Styles started here */

.nav-container{
    max-width: 1170px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 10px;
}
.logo-name{
    font-size: 2rem;
    font-weight: 800;
}
.nav-anchor a{
    text-decoration: none;
    margin-left: 3rem;
}

/* Banner Section Start */

.banner-container{
    text-align: center;
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    padding-top: 106px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;

}

.banner-text-1{
    font-weight: 800;
     font-size: 4rem;
      color: white;
}
.banner-text-2{
    color: white; 
    margin: 24px auto 48px;
}
.text-input{
    height: 3.2rem;
    width: 174px;
    padding: 16px 74px 16px 15px;
    border-radius: 8px;
    border: none;
    background-color: white;
}
.banner-form{
    background-color: rgb(255, 255, 255, 0.5);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

