@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.p-color{
    color: #FF5400;
}
.s-color{
    color: #424247;
}

/* Styles started here */

.nav-container{
    max-width: 1170px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 10px;
    width: 50%;
}
.logo-name{
    font-size: 2rem;
    font-weight: 800;
}
.nav-anchor a{
    text-decoration: none;
    margin-left: 3rem;
}
.nav-anchor{
    width: 50%;
}

/* Banner Section Start */

.banner-container{
    text-align: center;
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    padding-top: 106px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;

}
.banner-text{
    width: 70%;
    margin: 0 auto;
}

.banner-text-1{
    font-weight: 800;
     font-size: 4rem;
      color: white;
}
.banner-text-2{
    color: white; 
    margin: 24px auto 48px;
}
.text-input{
    height: 3.2rem;
    width: 174px;
    padding: 16px 74px 16px 15px;
    border-radius: 8px;
    border: none;
    background-color: white;
}
.banner-form{
    background-color: rgb(255, 255, 255, 0.5);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;

}


/* Banner 2 design start */

.banner-2{
    max-width: 1170px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-2-text{
    width: 50%;
    text-align: left;
}
.banner-2-text h2{
    font-weight: 800;
    font-size: 40px;
}
.banner-2-text ul li{
    margin-left: 18px ;
}
.banner-2-img{
    width: 40%;
}
.margin-t{
    margin-top: 1.5rem;
}
.banner-2-img img{
    width: 100%;
    object-fit: cover;
}
.btn-2{
    font-size: 20px;
    font-weight: 800;
    margin-top: 3rem;
    padding: 14px 35px;
    border: none;
    border-radius: 8px;
}

/* Gallery Section styles start */

.gallery-container{
    max-width: 1170px;
    margin: 100px auto;

}
.gallery-txt{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.gallery-txt-1{
    font-size: 40px;
    font-weight: 800;
}
.gallery-txt-2{
    margin: 24px auto 48px;
}

.gallery-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.gallery-img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}
#img-1{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
#img-2{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
#img-3{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
#img-4{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
#img-5{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
#img-6{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}
#img-7{
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}

/* Benefit Section design starts here */

.benefit-container{
    max-width: 1170px;
    margin: 100px auto;
}
.benefit-text-container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.benefit-text-container .banefit-text1{
    font-size: 2.5rem;
    font-weight: 800;

}
.benefit-text2{
    margin: 15px auto;
}
.benefit-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.benefit-card{
    width: 573px;
    height: 284px;
    padding: 32px 55px 32px 32px;
    border-radius: 8px;
}
.card-1{
    background-color: rgba(251, 181, 99, 0.05);;
}
.card-2{
    background: rgba(41, 206, 246, 0.05);
}
.card-3{
    background: rgba(233, 68, 68, 0.05);

}

.card-name{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem auto 1rem;
}

/* Newsletter design start */
.newsletter-container{
    max-width: 1170px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.newsletter-form-container{
    padding-top: 40px;
}
.newsletter-container .newsletter-form-container{
    width: 40%;
    /* height: 422px; */
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-form-container .newsletter-form-data{
    width: 80%;
    margin: 24px auto;
}
.newsletter-inp-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.newsletter-inp-container .inp-box{
    height: 52px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 20px;
    margin-bottom: 20px;
}
hr{
    margin-bottom: 24px;
}


.newsletter-container .newsletter-img{
    width: 60%;
}
.newsletter-img img{
    width: 100%;
    object-fit: cover;
}
